astropy==5.3
ffmpegio==0.8.3
ffmpegio_core==0.8.3
GitPython==3.1.41
human_id==0.2.0
lz4==4.3.2
matplotlib==3.8.2
numba==0.57.0
numpy==1.23.5
palettable==3.3.3
pandas==2.0.3
Pillow==10.2.0
psycopg2==2.9.9
pytz==2023.3
scipy==1.12.0
scikit-image==0.22.0
SQLAlchemy==2.0.15
tqdm==4.66.1
pytritech==1.0.2
git+https://github.com/OniDaito/pypam.git@master#egg=pypam