astropy==6.1
ffmpegio==0.8.3
ffmpegio_core==0.8.3
GitPython==3.1.41
human_id==0.2.0
lz4==4.3.2
matplotlib==3.9.0
numba==0.60.0
numpy==2.0.0
palettable==3.3.3
pandas==2.2.2
Pillow==10.2.0
psycopg==3.1.19
pytz==2023.3
scipy==1.14.0
scikit-image==0.22.0
SQLAlchemy==2.0.15
tqdm==4.66.1
pytritech==1.0.2
pooch==1.8.2
pytest==8.2.2
git+https://github.com/OniDaito/pypam.git@main#egg=pypam